<h1>Welcome#index</h1>
<%= link_to 'Waiter', waiters_index_path%>|
<%= link_to 'Chef', chefs_index_path%>|
<%= link_to 'Bartender', bartenders_index_path %>|
<%= link_to 'Helper', helper_index_path %>|

<%= link_to 'Administrador', managers_index_path%>
